/* Barre de navigation */
.navbar-brand {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.navbar-brand:hover {
    transform: scale(1.05);
}

.search-results {
    border-radius: 0 0 12px 12px;
    z-index: 1060;
}
