/* Styles principaux de l'application */

/* Variables */
@import 'variables.css';

/* Styles de base et utilitaires */
@import 'base.css';

/* Composants */
@import 'components/navbar.css';
@import 'components/product.css';
@import 'components/pagination.css';
@import 'components/chat.css';
@import 'components/search.css';

/* Pages */
@import 'pages/home.css';